.card{
    margin: 10px auto; /* Added */
    max-width: 400px;
    float: none; /* Added */
}

.buttoncontainer{
    margin-left: auto;
}

.expandButton {
    float: right;
}

.cardHeaderStyle.itemCard:first-child {
    padding-top: 0.3em;
    padding-bottom: 0.3rem;
    display: flex;
    align-items: center;
    padding-right: 0;
  }